.fs-nav-frame-toolbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: var(--sidebar-width-closed);
  transition: all 0.3s ease-in-out;
  right: 0;
  height: var(--toolbar-height);
  padding: 0 1rem;
}

.fs-nav-frame-toolbar.opened {
  left: var(--sidebar-width-opened);
}

.fs-nav-frame-toolbar-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  fs-nav-frame-toolbar-start,
  fs-nav-frame-toolbar-center,
  fs-nav-frame-toolbar-end {
    display: inline-flex;
    align-items: center;
  }
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -2px;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -2px;
}

button.mat-badge {
  margin: 0 4px;
}
