<fs-ui-frame [frameConfig]="frameConfig" [navUser]="navUser" [appRoutes]="appRoutes" (event)="onEvent($event)">
  <frame-toolbar>
    <frame-toolbar-title>Current App Title</frame-toolbar-title>

    <frame-toolbar-center>
      <button mat-icon-button>
        <mat-icon>help</mat-icon>
      </button>
      <button mat-icon-button matBadge="3">
        <mat-icon>article</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>call</mat-icon>
      </button>
    </frame-toolbar-center>

    <frame-toolbar-side>
      <a>Test the side</a>
    </frame-toolbar-side>

  </frame-toolbar>

  <frame-content>
    <router-outlet></router-outlet>
  </frame-content>

</fs-ui-frame>
