<div style="height: 300px; display: flex">
  <div style="width: 100%; display: flex; justify-content: space-between">
    <p>
      &#8593; Title and the hole Toolbar can be changed with content projection
      <br />
      <br />
      Note: The toolbar is optional, but then you have to implement your own solution!
      <br />
      This one is also slightly thinner than the original material bar in height.
    </p>
  </div>

  <p style="position: absolute; top: 200px">&#8592; In the sidenav you can set preregisterd entrys</p>
</div>
