<div class="fs-calendar-helper" *ngIf="calendar != undefined">
  <ng-container *ngFor="let month of calendar.calendarPanels; let iMonth = index">
    <div class="fs-calendar-month mat-elevation-z4">
      <div class="month-header">
        <button
          mat-icon-button
          (click)="onMonthBackward()"
          class="fs-calendar-switches"
          *ngIf="dataSource.config.switches && dataSource.config.renderMode != 'annual' && iMonth == 0; else elseAfterBackward">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z" />
          </svg>
        </button>
        <ng-template #elseAfterBackward>
          <div style="width: 40px"></div>
        </ng-template>
        <div>
          {{ month.monthName }}
          {{ dataSource.config.displayYear ? month.year : '' }}
        </div>
        <button
          mat-icon-button
          (click)="onMonthForward()"
          class="fs-calendar-switches"
          *ngIf="dataSource.config.switches && dataSource.config.renderMode != 'annual' && calendar.calendarPanels.length == iMonth + 1; else elseAfterForward">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
          </svg>
        </button>
        <ng-template #elseAfterForward>
          <div style="width: 40px"></div>
        </ng-template>
      </div>
      <table class="fs-calendar-panels-table" [style.width]="dataSource.config.panelWidth">
        <thead class="fs-calendar-panels-table-header">
          <tr>
            <th scope="col" *ngIf="dataSource.config.calendarWeek"></th>
            <th *ngFor="let dayname of calendar.dayNames" scope="col">
              {{ dayname }}
            </th>
          </tr>
          <tr>
            <th scope="col" *ngIf="dataSource.config.calendarWeek" class="kw"></th>
            <th scope="col" style="height: 10px"></th>
          </tr>
        </thead>
        <tbody role="grid" class="fs-calendar-body">
          <ng-container *ngFor="let row of month.render; let iRender = index">
            <tr role="row">
              <ng-container *ngFor="let day of row; let iDay = index">
                <td
                  role="gridcell"
                  class="fs-calendar-body-cell clickable tooltip"
                  tabindex="-1"
                  *ngIf="day._meta?.type == 'day'"
                  [ngClass]="dataSource.config.calendarWeek ? 'eight' : 'seven'"
                  (click)="onClick(day, 'date')"
                  (mouseenter)="onMouseOver(day.date)">
                  <ul class="tooltiptext" *ngIf="day.toolTip" [innerHTML]="day.toolTip">
                    <!-- {{  }} -->
                  </ul>
                  <div
                    class="fs-calendar-body-cell-content"
                    [class.fs-calendar-body-today]="isToday(day.date)"
                    [class.selected-set]="getCanIBeHighlighted(day.date)"
                    [class.selected-start]="isSelectedDayStart(day.date)"
                    [class.selected-end]="isSelectedDayEnd(day.date)"
                    [class.date-between]="getAmIBetween(day.date)">
                    {{ day._meta?.dayNumber }}
                  </div>
                  <div
                    class="fs-calendar-body-cell-content"
                    style="z-index: -3; border-radius: 4px"
                    [class.weekend]="day._meta?.isWeekendDay && day.colors?.backgroundColor != '' && markWeekend"
                    [class.blured-days]="bluredDays && day.colors?.backgroundColor"
                    [ngStyle]="{ background: day.colors?.backgroundColor }">
                    <!-- <ng-container
                        *ngIf="day.hasOwnProperty('badgeMode') && day.date != selectedDayStart && day.date != selectedDayEnd">
                        <span class="fs-calendar-badge fs-calendar-badge-int" *ngIf="day.badgeMode == 'Int'">
                            {{day.badgeInt}}
                        </span>
                        <span class="fs-calendar-badge fs-calendar-badge-icon" *ngIf="day.badgeMode == 'Icon'">
                            <mat-icon
                                style="height: 20px;width: 20px;padding: 1px 2px;font-size: 20px;">
                                {{day.badgeIcon}}
                            </mat-icon>
                        </span>
                    </ng-container> -->
                  </div>
                </td>
                <td
                  role="gridcell"
                  class="fs-calendar-body-cell kw"
                  tabindex="-1"
                  *ngIf="day._meta?.type == 'cw'"
                  [ngClass]="dataSource.config.calendarWeek ? 'eight' : 'seven'">
                  <div *ngIf="row[iDay + 1]._meta?.type == 'plHolder' && iRender != 0; else normalKW">
                    {{ placeholderDay ? day._meta?.kw : '' }}
                  </div>
                  <ng-template #normalKW>
                    <div>{{ day._meta?.kw }}</div>
                  </ng-template>
                </td>
                <!-- PalceholderDays -->
                <td
                  role="gridcell"
                  class="fs-calendar-body-cell clickable placeholderDay"
                  tabindex="-1"
                  (click)="onClick(day, 'placeholderDay')"
                  *ngIf="day._meta?.type == 'plHolder' && placeholderDay"
                  [ngClass]="dataSource.config.calendarWeek ? 'eight' : 'seven'">
                  <div class="fs-calendar-body-cell-content">
                    {{ day._meta?.dayNumber }}
                  </div>
                </td>
                <td
                  role="gridcell"
                  class="fs-calendar-body-cell"
                  tabindex="-1"
                  *ngIf="day._meta?.type == 'plHolder' && !placeholderDay"
                  [ngClass]="dataSource.config.calendarWeek ? 'eight' : 'seven'">
                  <div></div>
                </td>
              </ng-container>
            </tr>
            <tr>
              <th scope="col" *ngIf="dataSource.config.calendarWeek" class="kw"></th>
              <th scope="col" style="height: 5px"></th>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
