<div class="profile-pic-button-wrapper">
  <button mat-icon-button (click)="toggleSidemenu()">
    <mat-icon *ngIf="profilePicture == ''">account_circle</mat-icon>
    <div class="default-profile-pic" *ngIf="profilePicture != ''" style="background-image: url('{{ profilePicture }}');"></div>
  </button>
</div>

<div class="profile-content-wrapper" [class.opened]="opened">
  <div class="user-infos">
    <ng-content select="fs-nav-user-profile-name"></ng-content>
    <ng-content select="fs-nav-user-profile-subname"></ng-content>
  </div>
  <ng-content select="fs-nav-user-profile-actions"></ng-content>
</div>
