.docs-components {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.docs-components .mat-card {
  height: 300px;
  width: 250px;
  margin: 8px;
  cursor: pointer;
}
