<div class="docs-components">
  <mat-card routerLink="/nav-frame">
    <img mat-card-image src="assets/nav-frame-shot.png" alt="Screenshot of Nav Frame" />
    <mat-card-title>Nav Frame</mat-card-title>
    <mat-card-content>
      <p>
        Bootstrap your Nav with this nice template and start right away with
        valuable content.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card routerLink="/calendar-panels">
    <img mat-card-image src="assets/calendar-panels-shot.png" alt="Screenshot of Calendar Panels" />
    <mat-card-title>Calendar Panels</mat-card-title>
    <mat-card-content>
      <p>The missing piece to the angular material components.</p>
    </mat-card-content>
  </mat-card>

  <mat-card routerLink="/calendar-table">
    <img mat-card-image src="assets/calendar-table-shot.png" alt="Screenshot of Calendar Table" />
    <mat-card-title>Calendar Table</mat-card-title>
    <mat-card-content>
      <p>
        The perfect complement to the calendar panels when it comes to several
        independent entries.
      </p>
    </mat-card-content>
  </mat-card>
</div>
