@mixin fs-nav-frame-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  // Gets the standard material maps of fore/background
  $background: map-get($theme, 'background');
  $foreground: map-get($theme, 'foreground');

  .fs-nav-frame-logo {
    background-color: map-get($background, 'app-bar');
    color: map-get($foreground, 'text');
  }

  .fs-nav-frame-toolbar {
    background-color: map-get($background, 'app-bar');
    color: map-get($foreground, 'text');
  }

  .sidebar {
    background-color: map-get($background, 'app-bar');
    color: map-get($foreground, 'text');
    border-top: 1px solid map-get($foreground, 'divider');
  }

  .sidebar .fs-nav-user-profile {
    border-top: 1px solid map-get($foreground, 'divider');
  }

  .sidebar .profile-pic-button-wrapper svg {
    fill: map-get($foreground, 'text');
  }

  $nav-link-border: 5px;

  .fs-nav-frame-sidebar-item:has(button.active-link)::after {
    content: '';
    position: absolute;
    margin-top: calc($nav-link-border / 2);
    left: calc($nav-link-border / 2);
    z-index: -1;
    width: calc(100% - $nav-link-border);
    height: calc(var(--sidebar-width-closed) - $nav-link-border);
    border-radius: $nav-link-border;
    background-color: map-get($primary, 'default');
  }

  .fs-nav-frame-content {
    color: map-get($foreground, 'text');
    background-color: map-get($background, 'background');
  }

  .badge[data-badge]::before {
    content: attr(data-badge);

    position: absolute;
    top: 8px;
    left: 8px;

    font-size: 11px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;

    text-align: center;
    line-height: 23px;

    background: map-get($accent, 'default');
    color: map-get($accent, default-contrast);

    width: 22px;
    height: 22px;

    border-radius: 50%;
  }
}
