<div style="display: flex; justify-content: space-around;">
  <mat-slide-toggle [(ngModel)]="placeholder">
    Days placeholder
  </mat-slide-toggle>
</div>

<div class="selection">
  <mat-form-field>
    <mat-label>Months before</mat-label>
    <mat-select [(ngModel)]="monthsBefore">
      <mat-option *ngFor="let num of monthsAfterBefore" [value]="num">{{num}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Months after</mat-label>
    <mat-select [(ngModel)]="monthsAfter">
      <mat-option *ngFor="let num of monthsAfterBefore" [value]="num">{{num}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <p>Selected range: {{range | json}}</p>
  </div>
</div>

<div style="height: 80%;">
  <fs-calendar [placeholderDay]="placeholder" [dataSource]="dataSource" [year]="2022" [month]="3"
    [monthsBefore]="monthsBefore" [monthsAfter]="monthsAfter" [config]="calendarConfig"
    (selectedDate)="testMethod($event)">
  </fs-calendar>
</div>
