@use './_variables' as *;

// logo
.fs-nav-frame-logo {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: $sidebar-width-closed;
  height: $toolbar-height;
  transition: all 0.3s ease-in-out;
  display: grid;
  grid-template-columns: $sidebar-width-closed 1fr;

  .logo-wrapper {
    width: $sidebar-width-closed;
    height: $toolbar-height;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-picture {
      background-size: cover;
      height: 40px;
      width: 40px;
      flex-shrink: 0;
      object-fit: cover;
    }

    .material-icons {
      font-size: 32px;
    }
  }

  .app-info-wrapper {
    position: relative;
    height: $toolbar-height;
    display: none;
    align-items: center;
    justify-content: space-between;

    .app-name {
      font-size: 1.2rem;
    }

    .app-version {
      padding: 0 1rem;
      font-size: .9rem;
    }
  }


  .app-info-wrapper.opened {
    display: flex;
  }
}

::ng-deep .fs-nav-frame-toolbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: $sidebar-width-closed;
  transition: all 0.3s ease-in-out;
  right: 0;
  height: $toolbar-height;
}

::ng-deep .fs-nav-frame-content.opened,
::ng-deep .fs-nav-frame-toolbar.opened {
  left: $sidebar-width-opened;
}

.sidebar.opened,
.fs-nav-frame-logo.opened {
  width: $sidebar-width-opened;
}

.sidebar {
  position: fixed;
  z-index: 2;
  top: $toolbar-height;
  left: 0;
  bottom: 0;
  width: $sidebar-width-closed;
  transition: all 0.3s ease-in-out;

  display: grid;
  // grid-template-rows: 3rem 1fr 4rem;
  grid-template-rows: 1fr 4rem;
}

ul {
  list-style: none;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.sidebar .nav-links {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;

  >li {
    position: relative;
    display: inline-grid;
    grid-template-columns: 1fr 3rem;
    align-items: center;
    width: 100%;

    >button:nth-child(1) {
      width: 100%;
      height: $sidebar-width-closed;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;

      ::ng-deep span:nth-child(1) {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .material-icons {
        padding-left: 4px;
      }

      .link-name {
        margin-left: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    button:nth-child(2) {
      height: 3rem;
      width: 3rem;
    }

    .nav-links-l2 {
      li {
        button {
          width: 100%;
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }
}

::ng-deep .fs-nav-frame-content {
  position: fixed;
  top: $toolbar-height;
  left: $sidebar-width-closed;
  right: 0;
  bottom: 0;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  overflow: auto;
  box-shadow: inset 5px 2px 4px -1px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.14);
}

.glassplane.opened {
  position: absolute;
  top: $toolbar-height;
  left: $sidebar-width-closed;
  transition: all 0.3s ease-in-out;
  right: 0;
  bottom: 0;
  z-index: 1;
}