<div class="fs-nav-frame-logo" [class.opened]="!isClosed">
  <div class="logo-wrapper">
    <button mat-icon-button (click)="toggleSidemenu()">
      <div class="logo-picture" *ngIf="navFrameConfig.logoSrc != ('' || undefined)" style="background-image: url('{{ navFrameConfig.logoSrc }}');"></div>
      <svg *ngIf="navFrameConfig.logoSrc == ('' || undefined)" height="48px" viewBox="0 0 24 24" width="48px">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M3 18h13v-2H3v2zm0-5h10v-2H3v2zm0-7v2h13V6H3zm18 9.59L17.42 12 21 8.41 19.59 7l-5 5 5 5L21 15.59z" />
      </svg>
    </button>
  </div>
  <div class="app-info-wrapper" [class.opened]="!isClosed">
    <span class="app-name" *ngIf="!isClosed">{{ navFrameConfig.appName }}</span>
    <span class="app-version" *ngIf="!isClosed">{{ navFrameConfig.appVersion }}</span>
  </div>
</div>

<ng-content select="fs-nav-frame-toolbar"></ng-content>

<div class="sidebar" [class.opened]="!isClosed">
  <!-- Navigation -->
  <ng-content select="fs-nav-frame-sidebar" [opened]="!isClosed"></ng-content>

  <!-- User Profile -->
  <ng-content select="fs-nav-user-profile"></ng-content>
</div>

<div class="glassplane" [class.opened]="!isClosed" (click)="closeSidebar()"></div>
<ng-content select="fs-nav-frame-content" [class.opened]="!isClosed"></ng-content>
