// logo
.fs-nav-frame-logo {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: var(--sidebar-width-closed);
  height: var(--toolbar-height);
  transition: all 0.3s ease-in-out;
  display: grid;
  grid-template-columns: var(--sidebar-width-closed) 1fr;

  .logo-wrapper {
    width: var(--sidebar-width-closed);
    height: var(--toolbar-height);
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-picture {
      background-size: cover;
      height: 40px;
      width: 40px;
      flex-shrink: 0;
      object-fit: cover;
    }
  }

  .app-info-wrapper {
    position: relative;
    height: var(--toolbar-height);
    display: none;
    align-items: center;
    justify-content: space-between;

    .app-name {
      font-size: 1.2rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .app-version {
      padding: 0 1rem;
      font-size: 0.9rem;
    }
  }

  .app-info-wrapper.opened {
    display: flex;
  }
}

::ng-deep .fs-nav-frame-toolbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: var(--sidebar-width-closed);
  transition: all 0.3s ease-in-out;
  right: 0;
  height: var(--toolbar-height);
}

::ng-deep .fs-nav-frame-content.opened,
::ng-deep .fs-nav-frame-toolbar.opened {
  left: var(--sidebar-width-opened);
}

.sidebar.opened,
.fs-nav-frame-logo.opened {
  width: var(--sidebar-width-opened);
}

.sidebar {
  position: fixed;
  z-index: 2;
  top: var(--toolbar-height);
  left: 0;
  bottom: 0;
  width: var(--sidebar-width-closed);
  transition: all 0.3s ease-in-out;

  display: grid;
  grid-template-rows: 1fr var(--sidebar-width-closed);
}

ul {
  list-style: none;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

::ng-deep .fs-nav-frame-content {
  position: fixed;
  top: var(--toolbar-height);
  left: var(--sidebar-width-closed);
  right: 0;
  bottom: 0;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  overflow: auto;
  box-shadow: inset 5px 2px 4px -1px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.14);
}

.glassplane.opened {
  position: absolute;
  top: var(--toolbar-height);
  left: var(--sidebar-width-closed);
  transition: all 0.3s ease-in-out;
  right: 0;
  bottom: 0;
  z-index: 1;
}
