<div class="fs-nav-frame-logo" [class.opened]="!isClosed">
  <div class="logo-wrapper">
    <button mat-icon-button (click)="toggleSidemenu()">
      <div class="logo-picture" *ngIf="navFrameConfig.logoSrc != ('' || undefined)" style="background-image: url('{{ navFrameConfig.logoSrc }}');"></div>
      <span class="material-icons" *ngIf="navFrameConfig.logoSrc == ('' || undefined)">menu</span>
    </button>
  </div>
  <div class="app-info-wrapper" [class.opened]="!isClosed">
    <span class="app-name" *ngIf="!isClosed">{{ navFrameConfig.appName }}</span>
    <span class="app-version" *ngIf="!isClosed">{{ navFrameConfig.appVersion }}</span>
  </div>
</div>

<ng-content select="fs-nav-frame-toolbar"></ng-content>

<div class="sidebar" [class.opened]="!isClosed">
  <!-- Navigation -->
  <ng-content select="fs-nav-frame-sidebar" [opened]="!isClosed"></ng-content>
  <!-- <mat-nav-list dense>
    <mat-list-item>
      <a mat-list-item href="">Home</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-list-item href="">Test</a>
    </mat-list-item>
  </mat-nav-list> -->

  <!-- User Profile -->
  <ng-content select="fs-nav-user-profile"></ng-content>
</div>

<div class="glassplane" [class.opened]="!isClosed" (click)="closeSidebar()"></div>
<ng-content select="fs-nav-frame-content" [class.opened]="!isClosed"></ng-content>
