// http://mcg.mbitson.com/#!?primary=%234c7c3c&accent=%236b999b&themename=fsdevops

/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #eaefe8,
  100 : #c9d8c5,
  200 : #a6be9e,
  300 : #82a377,
  400 : #679059,
  500 : #4c7c3c,
  600 : #457436,
  700 : #3c692e,
  800 : #335f27,
  900 : #244c1a,
  A100 : #9fff8b,
  A200 : #75ff58,
  A400 : #4bff25,
  A700 : #36ff0c,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent: (
  50 : #edf3f3,
  100 : #d3e0e1,
  200 : #b5cccd,
  300 : #97b8b9,
  400 : #81a8aa,
  500 : #6b999b,
  600 : #639193,
  700 : #588689,
  800 : #4e7c7f,
  900 : #3c6b6d,
  A100 : #c2fbff,
  A200 : #8ff8ff,
  A400 : #5cf5ff,
  A700 : #42f4ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
